.DS_Store
*/.DS_Store
.env
artifacts/
backend/.DS_Store
backend/.env
backend/app
backend/internal/.DS_Store
build/
cache/
contracts/.DS_Store

frontend/.DS_Store
frontend/.env
frontend/public/.DS_Store
frontend/src/.DS_Store

ignition/.DS_Store
ignition/deployments
node_modules/
test/.DS_Store
typechain-types/