.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: #ffffff;
    border-bottom: 2px solid #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffcc00;
    cursor: pointer;
}

.center-section {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s;
}

.tab-button:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #1263f1;
    color: #ffffff;
}

.modal-wallet-copy p {
    padding-top: 12px;
    padding-left: 10px;
    color: black;
    font-size: 16px;
}

.modal-wallet-show {
    width: 48%;
    height: 40px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    text-align: left;
    float: right;
}

.modal-wallet-show:hover {
    opacity: 0.8;
}

.modal-wallet-show p {
    padding-top: 10px;
    padding-left: 10px;
    color: black;
}

.modal-wallet-info-area {
    width: 48%;
    height: 20px;
    position: relative;
    text-align: left;
    margin-left: 40px;
}

.modal-wallet-info-area p {
    padding-top: 3px;
    padding-left: 0px;
    font-size: 14px;
    color: rgb(197, 197, 197);
}

.modal-disconnect-wallet {
    width: 90%;
    height: 40px;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    margin-top: 10px;
    text-align: center;
}

.modal-disconnect-wallet button {
    width: 50%;
    height: 100%;
    font-size: 20px;
    background-color: rgb(255, 15, 15);
    border-radius: 10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 180px;
}

.button:hover {
    background-color: #0e5bb5;
}

.wallet-button-container {
    display: inline-block;
    margin-top: 10px;
}
